:root{
    --white : #ebf5ee; 
    --ltblue:#78A1BB ;
    --grey: #586F7C ;
    --navy: #0D1821;
    --envy: #2F4550;
    --black: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* NAVBAR */
.navbar{
    background-color: #0D1821;
}
.dropdown-menu{
    background: var(--navy);
}
.dropdown-menu a{
    color: var(--white) !important;
}
.dropdown-menu a:hover{
    color: var(--navy) !important;
}
/* CAROUSEL  */

.carousel{
    background: black;
}
.imger{
    opacity: 0.6;
}
.carousel-caption{
    /* border: 5px solid black; */
    width: 70%;
    height: 50%;
    display: flex !important;
    flex-direction: column;
    color: var(--white);
    /* justify-content: center; */
}
.sliderHeading{
    font-size: 50px;
}


/*// CATEGORIES //*/
.categories-row{
    display: flex;
    justify-content: center;
}
.catcard{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.catcard::before{
    position: absolute;
    content: "";
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.5s all;
}
.category-heading{
    
    font-size: 60px;
    color: var(--white);
    position: absolute;
    top: 65%;
    left: 25%;

}
.hideme{
    background: var(--grey);
    font-size: 25px;
    color: white;
    position: absolute;
   border-radius: 0 !important;
    display: none;
    transition: 0.5s all;
}
.catcard:hover .hideme{
    display: block;
}
.catcard:hover::before{
    opacity: 1;
}

.hideme:hover{
    background: var(--envy);
    color: var(--white);
}


/*//////////////// T shirts  /////////////////*/

.hero{
    height: 95vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(./images/shirts/pinho-GCAnKZM21_c-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items :center;
    
}
.herojacket{
    height: 95vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(./images/hoodies/nijwam-swargiary-tsPaWCdGRIw-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    align-items :center;
}
.hero-heading{
    font-size: 55px;
    width: 70%;
    color: var(--white);
    opacity: 0;
    animation: opacitated 2s forwards;
    
}
@keyframes opacitated{
    0%{
        opacity:0;
       /* transform: translate(-1000px); */
    }
    100%{
        opacity:1;
        /* transform: translate(0); */
    }
}
.products{
    margin-top: 70px;
    margin-bottom: 30px;
}
.productsheading{
    text-align: center;
    font-size: 60px;
    color: var(--black);
}
.underline{
    border: 2px solid var(--ltblue);
    border-radius: 10px;
    width: 40%;
}

.cardrow1{
    margin: 50px 10px;
    /* background-color: var(--ltblue) */
}
.thecard{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    border-radius: 10px !important;
    color: var(--navy);
    justify-content: center;
    align-items: center;
    /* background: rgba( 88, 111, 124, 0.25 ); */
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: all 1s;
    position: relative;
    
}
.thecard>div{
    /* justify-self: flex-start; */
    align-self: flex-start;
}
.cardbtn{
    display: none;
    position: absolute;
    

}

.addtocart{
    min-width: 45%;
    color: var(--white);
    /* background-color: rgb(115, 160, 25); */
    background-color: var(--ltblue);

}
.addtocart:hover{
    background-color: var(--white);
    /* color: rgb(115, 160, 25); */
    color: var(--ltblue);
}
.cardviewmore{
    bottom: 35%;
    color: var(--ltblue);
    text-decoration: none;
}
.cardviewmore:hover{
    bottom: 35%;
    color: var(--grey);
    
}

.thecard::before{
    position: absolute;
    content: "";
    background: rgba(0,0,0,0.6);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    
}
.thecard:hover .cardbtn{
    display: block;
    transition:  0.5s;
    
}
.thecard:hover::before{
    opacity: 1;

}

.thecard:hover{
    cursor: pointer;
    transform: translateY(-5px) !important;
}
.thecard div{
    /* color: var(--white); */
    /* background-color: var(--grey); */
    padding: 20px 10px;
}

/*////////////////////////// MODAL  /////////////////////////////////*/
.viewModal{
    min-width: 70% !important;

}
.modalrow div{
    border-right: 1px solid black;
}
.headModalone,.footModalone{
    background-color: var(--envy) !important;
    color: var(--white);
}
.counter{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 110px;
    background-color: lightgrey;
    /* border: 1px solid black; */
}
.counter p{
    margin: 0 !important;
}
.counter>button{
   
    width: 34%;
    height: 100%;
    background-color: var(--ltblue);
    color: var(--white);
    border: none;

    font-weight: bold;
    transition: all 0.2s;
}
.counter>button:hover{
   
    background-color: var(--grey);
}
.modaladdcart{
    border-radius: 0;
    margin-top: 10px;
    width: 60%;
    background-color: var(--ltblue);
    color: var(--white);
    transition: all 0.3s;
}
.modaladdcart:hover{
    background-color: var(--white);
    color: var(--ltblue);
}
.modaloverview{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* SECOND MODAL*/

.addModaldialogue{
    min-width: 50%;
}

.headModaltwo{
    /* background-color: rgb(162, 221, 45); */
    background-color: var(--ltblue);
    color: var(--white);
}
.modal-header{
    border: none;
    outline: none;
}
.closeModal{
    color: var(--white) ;
}


/*////////////ABOUT US//////////////*/
.aboutcontainer{
    margin-top: 40px;
    margin-bottom: 60px;
}
.aboutcontainer p{
    padding: 10px 0 10px 0;
}
.reviewscontainter{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 50px;
}
.fa-user{
    font-size: 35px;
    background: var(--grey);
    border-radius: 50%;
    padding: 15px;
    color: var(--white);
}
.fa-quote-right{
    font-size: 20px;
    color: var(--grey);
}








/*////////////// CONTACT  ////////////////////*/


.contact{
    min-height: 80vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(./images/contact-us.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items :flex-start;
}

.contactFormParent{
    /* margin-top: 100px; */
    padding:100px 0 30px 0 ;
    /* background: linear-gradient(#2F4550,black); */
    /* background: var(--navy); */
}

.contactForm{
    padding-top: 50px;
    padding-bottom: 50px;
    flex-direction: column;
    width: 40%;
    border: 1px solid black;
    border-radius: 0px;
    /* background: #2F4550; */
    /* box-shadow: inset 37px 37px 77px #1b272e,
            inset -37px -37px 77px #436372; */


}
.contactForm form{
    display: flex;
    flex-direction: column;
}
.contactForm input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
    background: transparent;
    color: var(--black) !important;
}
.contactForm input:focus{
    box-shadow: none !important;
    background: transparent;
}
.contactForm textarea{
    width: 100%;
    background: transparent;
    border: 1px solid black;
    color: var(--black) !important;
}
.contactForm textarea:focus{
    box-shadow: none !important;
    background: transparent;
}
.formbtn{
    align-self: flex-end;
    justify-self: flex-end;
    margin-top: 20px;
    background: var(--grey);
    color: var(--white);
    transition: all 0.3s;
    text-align: center;
}
.formbtn:hover{
    background-color: var(--envy);
    color: var(--white);
}




/*//////////////FOOTER////////////////////*/
.mainFooter{
    padding: 50px 0 0 0;
    background: var(--navy);
    color: var(--white);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.mainFooter ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
   
    
}
.mainFooter a{
    color: var(--white);
    text-decoration: none;
}
.mainFooter a:hover{
    color: var(--ltblue);
}
.listHeading{
    font-weight: bold;
    margin-bottom: 18px;
}
.listdesc{
    position: relative;
    margin-bottom: 6px;

}
.listdesc:hover{
    cursor: pointer;
    color: var(--ltblue);
}

.listdesc::before{
    content: "";
    position: absolute;
    border: 1px solid var(--white);
    width: 0;
    bottom: 0;
    /* display: none; */
    visibility: hidden;
    transition: all 0.3s;
}
.listdesc:hover::before{
    /* display: block; */
    visibility: visible;
    width: 70%;
}
.footericon{
    font-size: 25px;
    margin: 0 5px 15px 5px;
    padding: 10px;
    background: var(--white);
    color: var(--black);
    border-radius: 50%;
    transition: all 0.3s;
}
.footericon:hover{
    cursor: pointer;
    color: var(--white);
}
.fa-instagram:hover{
    background: rgb(235, 129, 30);
}
.fa-facebook:hover{
    background: rgb(39, 126, 226);
}
.fa-whatsapp:hover{
    background: rgb(72, 206, 55);
}
.mainFooter input{
    background: transparent;
    border: 1px solid --white;
    padding: 2px 30px 2px 30px;
    color: white;
}
.mainFooter input:focus{
    outline: none;
}

.btnfooter{
    color: var(--white);
    background: var(--envy);
    border-radius: 0;
    padding: 2px 25px 2px 25px !important;
}
.btnfooter:hover{
    background: var(--white);
    color: var(--black);
}
.footerSeparate{
    border-top: 1px solid var(--grey);
    margin: 5px 0;
    width: 100%;
}




/*////MEDIA QUERIES //////////*/

/* LARGE  */
@media screen and (max-width: 992px){
    .sliderHeading{
        font-size: 30px;
    }
    .productsheading{
        font-size: 50px;
    }
    .contactForm{
        width: 55%;
    }
}

/* MEDIUM  */
@media screen and (max-width: 768px){
    .sliderHeading{
        font-size: 25px;
    }
    .productsheading{
        font-size: 45px;
    }
    .underline{
        width: 60%;
    }
    .contactForm{
        width: 60%;
    }
    .mainFooter ul{
        width: 30%;
    }
}

/* SMALL  */
@media screen and (max-width: 576px){
    .sliderHeading{
        font-size: 16px;
    }
    .sliderinfo{
        font-size: 12px;
    }
    .carousel-caption{
        height: 70%;
    }
    .hero-heading{
        font-size: 30px;
    }
    .contactForm{
        width: 90%;
    }
    .mainFooter ul{
        width: 45%;
        padding-bottom: 10px;
    }
    
}

@media screen and (max-width: 420px){
    .sliderHeading{
        font-size: 12px;
    }
    .sliderinfo{
        font-size: 8px;
    }
    .hero-heading{
        font-size: 20px;
    }
    .contactForm{
        width: 100%;
    }
    .mainFooter ul{
        width: 90%;
    }
}


